/*component*/
.heightP100() {
	height: 100%;
}
.testBorder {border: 1px solid #fff;}
/*end*/

html,
body,
.app,
.grid-container,
.grid-w,
.logs-w{.heightP100;}
body {
	margin: 0;
	padding: 10px;
	background: olive;
	color: #fff;
	font-weight: bold;
	text-align: center;
	box-sizing: border-box;
}
.grid-container {
	position: relative;
	.grid-w {
		padding-right: 210px;
		.condition-w {
			height: 50px;
			text-align: left;
          	.testBorder;
		}
		.grid-main {
			margin-top: 10px;
          	.testBorder;
		}
		table {
			cursor: grab;
			cursor: -webkit-grab;
			user-select: none;
			td {
				@w: 20px;
				@h: 20px;
				&:first-child {
					text-align: right;
					padding: 0 5px 0 10px;
				}
				&:not(:first-child) {
					background: skyblue;
					width: @w;
					height: @h;
					border-radius: 3px;
						&:hover {
							background: #87eba6;
						}
				}
			}
		}
	}
	.logs-w {
      	.testBorder;
		position: absolute;
		width: 200px;
      	.heightP100;
		right: 0;
		top: 0;
		box-sizing: border-box;
		ul {
			margin: 0;
			padding-left: 0;
			list-style: none;
		}
	}
}